* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0f0f12;
  color: #eee;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #d4b98c;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("../assets/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 80px;
}

.hero h1 {
  font-size: 4rem;
  max-width: 600px;
}

.hero p {
  max-width: 500px;
  margin-top: 20px;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 28px;
  background: #d6b98c;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

/* SECCIONES */
.section {
  padding: 120px 15%;
}

.section h1 {
  margin-bottom: 20px;
}

/* ANIMACIONES */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
