* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0e0e11;
  color: #eaeaea;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  color: #d4b98c;
}

/* SECCIONES */
.page {
  min-height: 100vh;
  padding: 140px 10%;
  display: none;
  animation: fade 0.6s ease;
}

.page.active {
  display: block;
}

.hero {
  max-width: 700px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.85;
}

.cta {
  margin-top: 25px;
  padding: 14px 30px;
  border: none;
  background: #d4b98c;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: #1a1a1f;
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #222;
}

@keyframes fade {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
